<li class='list-group-item border-0 px-0 d-flex'>
<div class="timeline-avatar-container me-3"><%= profile_picture person_to_follow %></div>
<%= link_to person_to_follow.fullname, user_path(person_to_follow), class: 'd-block btn btn-light align-self-center flex-strink-1 p-0 me-auto who-to-follow-name' %>
<div class="align-self-center"><%= follow_btn person_to_follow %></div>
</li>