<div class='list-group-item list-group-item-action'>
  <div class="d-flex">
    <div class='timeline-avatar-container'>
      <%= profile_picture recipe.user %>
    </div>
    <div class="col ps-3">
      <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1"><%= link_to recipe.user.fullname, user_path(recipe.user), class: 'btn btn-light p-0 fw-bold' %></h6>
          <small class="recipe-time"><%= time_ago_in_words(recipe.created_at) %> ago</small>
      </div>
      <p class="mb-1 recipe-text"><%= recipe.description %></p>
    </div>
  </div>
</div>