<div class="col bg-light">
  <div class="row border-bottom">
    <h2 class='fs-6 m-0 p-3'>ALL USERS</h1>
  </div>
  <ul class='all-users-list'><%= render partial: 'recipes/person_to_follow', collection: @users %></ul>
</div>