<div class='row p-4'>
  <div class='col-sm-12 col-md-5'>
    <img src='https://avatarfiles.alphacoders.com/103/103373.png' class='rounded-circle d-block w-100' alt='profile-picture'>
  </div>
  <div class='col-sm-12 col-md-7 text-center d-flex justify-content-center align-items-center'>
    <div class='aside-user-fullname'>User Fullname</div>
  </div>
</div>
<div class='row py-4 border-bottom border-1 border-secondary'>
  <div class='col-6 p-4'>
    <div class='text-center'>124</div>
    <div class='text-center'>followers</div>
  </div>
  <div class='col-6 p-4'>
    <div class='text-center'>54</div>
    <div class='text-center'>following</div>
  </div>
</div>
<nav class='aside-links mt-4 d-grid'>
  <%= link_to "HOME", '#', class:'aside-link btn btn-outline-light border-0 rounded-0' %>
  <%= link_to "CONNECT", '#', class:'aside-link btn btn-outline-light border-0 rounded-0' %>
  <%= link_to "PROFILE", '#', class:'aside-link btn btn-outline-light border-0 rounded-0' %>
</nav>