<div class='w-50'>
<%= image_tag 'https://raw.githubusercontent.com/mugberto/chefbook-images/c63eb908b48acba9f5ead4ee181c7a81c111de1e/Images/chefbook_logo-white.svg', class:'brand-logo' %>
</div>
<div class='w-50 text-end py-1'>
  <%= log_in_menu %>
</div>